*.aux
*.fls
*.brf
*.fdb_latexmk
*.out
*.log
*.toc
*.xdv
*.gz
*.thm
*.synctex(busy)
*.pdf
*.svg
*.bbl
*.blg
*.lot
*.lof
*.loa 
!/paper/fig/*
!/paper/sty/*
.DS_store
*.sav
*.bak
paper_in_one.tex
*.csv
*.txt 
*.nav
*.snm
used.bib
